<!-- <form (ngSubmit)="onSearchAndFilterSubmit(searchForm.value)" #searchForm="ngForm">
  <div class="form-group">
    <label for="nomProduit">Nom Produit</label>
    <input type="text" class="form-control" id="nomProduit" name="nomProduit" [(ngModel)]="newProduct.nomProduit">
  </div>
  <div class="form-group">
    <label for="dateCreation">Date Creation</label>
    <input type="date" class="form-control" id="dateCreation" name="dateCreation" [(ngModel)]="newProduct.dataCreation">
  </div>
  <div class="form-group">
    <label for="prixProduit">Prix Produit</label>
    <input type="number" class="form-control" id="prixProduit" name="prixProduit" [(ngModel)]="newProduct.prixProduit">
  </div>
  <div class="form-group">
    <label for="dateValidite">Date Validite</label>
    <input type="date" class="form-control" id="dateValidite" name="dateValidite" [(ngModel)]="newProduct.dateValidite">
  </div>
  <button type="submit" class="btn btn-primary">Search and Filter</button>
</form>


 -->
 <div class="form-group">
      <div class="container" style="margin-right: 80%;">

       

            <form (submit)="onAddProduit()">
              <div class="form-group">
                <label for="nomProduit">Nom produit:</label>
                <input type="text" class="form-control" id="nomProduit" [(ngModel)]="newProduct.nomProduit" name="nomProduit">
              </div>
              <div class="form-group">
                <label for="dateCreation">Date création:</label>
                <input type="date" class="form-control" id="dateCreation" [(ngModel)]="newProduct.dataCreation" name="dateCreation">
              </div>
              <div class="form-group">
                <label for="prixProduit">Prix produit:</label>
                <input type="number" class="form-control" id="prixProduit" [(ngModel)]="newProduct.prixProduit" name="prixProduit">
              </div>
              <div class="form-group">
                <label for="dateValidite">Date validité:</label>
                <input type="date" class="form-control" id="dateValidite" [(ngModel)]="newProduct.dateValidite" name="dateValidite">
              </div>
              <div class="form-group">
                <label for="validite">Validité:</label>
                <input type="checkbox" class="form-control" id="validite" [(ngModel)]="newProduct.validite" name="validite">
              </div>
              <div class="form-group">
                <label for="categorieProduit">Catégorie produit:</label>
                <select class="form-control" id="categorieProduit" [(ngModel)]="newProduct.categorieProduit" name="categorieProduit">
                  <option *ngFor="let categorie of categories">{{ categorie }}</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Ajouter un produit</button>
            </form>
      
            <h2 >Liste des Produit <button type="button"  class="btn btn-primary">Ajouter un
              Produit </button> </h2>
      </div>
      <table class="table" *ngIf="(Produits | async)?.length" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">nomProduit>
            <th scope="col">prix</th>
            <th scope="col">Datecreation</th>
            <th scope="col">DateValidite/th>
            <th scope="col">Validite</th>
            <th scope="col">categorieProduit</th>

            <th scope="col" style="padding-left: 10%;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Produits |async ">
            <th scope="row">{{item.idproduit }}</th>
            <td>{{ item.nomProduit }}</td>
            <td>{{ item.prixProduit }}</td>
            <td>{{ item.dataCreation | date : 'yyyy-MM-dd'}}</td>
            <td>{{ item.dateValidite | date : 'yyyy-MM-dd'}}</td>
            <td>{{ item.validite}}</td>
            <td>{{ item.categorieProduit}}</td>
            <td>
              <button type="button" class="btn btn-danger" style="margin-left: 10%;" (click)="deleteProduct(item)"
                >Supprimer</button>
         
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"  (click)="edit(item)"  style="margin-left: 10%; ">Modifier</button>
           
            </td>
            
          </tr>
        </tbody>
      </table>



     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modifier Produit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #updateForm="ngForm" (ngSubmit)="OnupdateProduit()" >            
              <div class="form-group">
                <label for="nomProduit">Nom produit:</label>
                <input type="text" class="form-control" id="nomProduit" [(ngModel)]="ProductToUpdate.nomProduit" name="nomProduit">
              </div>
              <div class="form-group">
                <label for="dateCreation">Date création:</label>
              <input type="date" class="form-control" id="dateCreation" name="dateCreation"  [value]="ProductToUpdate.dataCreation | date:'yyyy-MM-dd'" (input)="ProductToUpdate.dataCreation=parseDate($event.target.value)" />
              </div>
              <div class="form-group">
                <label for="prixProduit">Prix produit:</label>
                <input type="number" class="form-control" id="prixProduit" [(ngModel)]="ProductToUpdate.prixProduit" name="prixProduit">
              </div>
              <div class="form-group">
                <label for="dateValidite">Date validité:</label>
                <input type="date" class="form-control" id="dateValidite" name="dateValidite" [value]="ProductToUpdate.dateValidite | date:'yyyy-MM-dd'" (input)="ProductToUpdate.dateValidite=parseDate($event.target.value)" >
              </div>
              <div class="form-group">
                <label for="validite">Validité:</label>
                <input type="checkbox" class="form-control" id="validite" [(ngModel)]="ProductToUpdate.validite" name="validite">
              </div>
              <div class="form-group">
                <label for="categorieProduit">Catégorie produit:</label>
                <select class="form-control" id="categorieProduit" [(ngModel)]="ProductToUpdate.categorieProduit" name="categorieProduit">
                  <option *ngFor="let categorie of categories">{{ categorie }}</option>
                </select>
              </div>
              <div class="form-group">
              <input type="submit" value="Update" class="btn btn-primary w-100">
            </div>
                      
          </form>
            
      
    <div *ngIf="!isLoaded">
      <ngx-skeleton-loader 
        count="9"
        appearance="circle"
        [theme]="{ 
          'border-radius': '5px',
          height: '280px',
          width: 'calc(33% - 10px)'
        }"
      ></ngx-skeleton-loader>
    </div>
  

<div class="ll-find-more mt-10 mb-36">
  <div class="container rounded-md">
    <h2 class="ll-find-more__heading">Didn't find what you were looking for? There is more we can do for you.</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
      <div class="_card bg-white rounded-md">
        <h3 class="_card__title font-normal text-black">Post Requirements and let our consultants make an individual offer</h3>
        <h5 class="_card__paragraph font-light text-black mt-3">Talent marketplace</h5>
      
      </div>
      <div class="_card bg-white rounded-md ml-auto">
        <h3 class="_card__title font-normal text-black">Post a problem and we will look for talented and skillful suitable advisors.</h3>
        <h5 class="_card__paragraph font-light text-black mt-3">Scouting</h5>
  
      </div>
    </div>
  </div>
</div>

  


   

  
